################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UniPlatform
/obj
/bin/Debug/net8.0
